<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Code Engine と Database</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h2 class=logo-center>Code Engine と Database</h2>
  <div class="logo logo-center">
    <img src="note.png">
    <p>Node.jsアプリとCloudant Databaseを利用したメモアプリ</p>
  </div>
  
  <div id="name">
    <p>ひとことメモをデータベースに登録</p>
    <input type="text" placeholder="ひとことメモ" autofocus>
    <p id="responseHead"></p>
    <ul id="responseArea"></ul>
  </div>
  <script src="index.js"></script>
</body>

</html>
